#img-bg{
    background-image: url('https://i.imgur.com/pqx6sB9.png');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;


} 

.container-fluid{
    height: 100%;
}

.row {
    height: 100%;
}