#img-bg{
    background-image: url('https://media-exp3.licdn.com/dms/image/C4D16AQHSQ7-Sdzw6mw/profile-displaybackgroundimage-shrink_350_1400/0/1611168235102?e=1629936000&v=beta&t=ALYVFJZG0cbEYt3ZQ1wcQsleRM4tTfxh0MsTp7ygxiI');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


} 